@description("My custom policy updated") 
permit(principal is jans::support::User, action, resource is jans::support::Application) when { principal is jans::support::User };